*{
  box-sizing: border-box;
}
.counter-div{
  padding:1rem;
  margin-top:32px !important;
  width:300px;
  margin:auto;
  height:350px;
  background-color: teal;
  border-radius: 10px;;
}
.login-container{
  padding:1rem;
  margin-top:32px !important;
  width:300px;
  margin:auto;
  height:350px;
  border-radius: 10px;;
}
